@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1e293b;
  }
  ::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }

  .mono {
    font-family: var(--font-mono);
  }
}
